<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit about</title>
</head>
<body>
  <h1>About Edit page</h1>
  <hr/>

  <form method="post">
    <fieldset>
      <legend>수정할 내용</legend>
      <table>
        <tr>
          <td><input type="text" name="id" value="<%= data.about %>"/></td>
        </tr>
      </table>
      <input type="submit" value="EDIT" />
    </fieldset>
  </form>

</body>
</html>