.u-section-1 .u-sheet-1 {
  min-height: 925px;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 255px;
  margin: 20px auto 0 -55px;
}

.u-section-1 .u-image-2 {
  width: 458px;
  height: 255px;
  margin: -255px auto 0 253px;
}

.u-section-1 .u-image-3 {
  width: 184px;
  height: 255px;
  margin: -255px 226px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 264px;
  height: 255px;
  margin: -255px -56px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 263px;
  height: 295px;
  margin: 19px -56px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 497px;
  height: 295px;
  margin: -295px auto 0 -64px;
}

.u-section-1 .u-image-7 {
  width: 462px;
  height: 295px;
  margin: -295px 226px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 497px;
  height: 297px;
  margin: 19px auto 0 -64px;
}

.u-section-1 .u-image-9 {
  width: 385px;
  height: 297px;
  margin: -297px 303px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 340px;
  height: 297px;
  margin: -297px -56px 20px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: 82px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 78px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -189px;
    margin-right: 156px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 201px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 217px;
    margin-top: -202px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 203px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 262px;
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    margin-top: -262px;
  }
}