<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h3>로그인</h3>
<form action="/login" method="post">
    <table>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" name="userEmail"></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td><input type="password" name="userPwd"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
</form>

</body>
</html>