<html>
  <body>
    LOGIN<form action='/post' method='POST'>
      <p>
        <%=a%> : <input type='text' name = 'id'>  <!-- 변수 a는 ID 임-->
      </p>
      <p>
        <%=b%> : <input type='password' name = 'pwd'>  <!-- 변수 b는 PWD 임-->
      </p>
      <p>
        <button>submit</button>
      </p>
    </form>
  </body>
</html>